/******************/
/* CSS tag rules*/
@font-face {
	font-family:"Aiyari Tropika";
	src:url("Aiyari - Tropika Island Int.otf");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #37180F;
	color: #F5CC8E;
}

header {
	text-align: center;
	letter-spacing: 5px;
	height: 10%;
}

article {
	border: 3px solid white;
}

article h2 {
	width: 100%;
}

aside {
	box-sizing: border-box;
	width: 30%;
	min-width: 200px;
	padding: 20px;
}

a:link {
	color: lightblue;
}

canvas {
	border: 10px double black;
	width: 700px;
	background-color: white;
}

img {
	min-width: 100px;
	background-color: gray;
}

main {
	padding: 20px;
}

nav {
	font-size: 36px;
	background-color: #927F75;
	border-radius: 30px 5px 30px 5px;
	/*Used W3 schools figure out the right border stuff: https://www.w3schools.com/css/css3_borders.asp */
	text-align: center;
	letter-spacing: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: fit-content;
}

nav a {
	margin-inline: 5px;
	text-wrap: nowrap;
}

nav a:any-link {
	color: #F5CC8E;
}

footer {
	padding: 20px;
	text-align: center;
}


/*******************/
/* CSS id rules */

#title {
	text-align: left;
	float: left;
	padding-inline: 5%;
	width: fit-content;
	border-right: 7px solid #F5CC8E;
	font-weight: bold;
	color: #F5CC8E;
}

#mainBody {
	min-width: 400px;
}

#container {
	width: 100%;
	margin: 5px auto;
}

#controls li{
	text-align: left;
}

#indexAside {            /*this is a placeholder for an image, to be inserted later*/
	width:25%;
	height:80%;
	padding:2%;
	background-color:white;
	float:right;
	border-left:5px solid #F5CC8E;
}

#instructionsPage {
	border:4px solid #F5CC8E;
	background-color:#93653F;
	padding-left:6px;
	padding-right:6px;
}

/*******************/
/* CSS class rules */
.colContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.ad {
	text-align: center;
	border: 3px solid black;
	margin-top: 5px;
	background-color: gray;
	width: auto;
}

.rows {
	width:70%;
	float:left;
}

.rows h2 {
	font-size:30px;
	font-family:"Aiyari - Tropika"; /*this isn't working yet don't worrrrry about it*/
	text-decoration:underline;
	text-align:center;
}

.rows p {
	font-size:24px;
}

.rows article {
	border-color: transparent;
}